
# ==============================
# DJANGO
# ==============================

Django==6.1.1
asgiref==3.12.1
sqlparse==0.6.0
tzdata==2026.3


# ==============================
# DJANGO REST API
# ==============================

djangorestframework==3.18.0
djangorestframework_simplejwt==5.5.1
django-cors-headers==4.9.0


# ==============================
# DEPLOYMENT
# ==============================

gunicorn
whitenoise


# ==============================
# ENVIRONMENT VARIABLES
# ==============================

python-dotenv==1.2.3


# ==============================
# PDF RESUME PROCESSING
# ==============================

pypdf==6.16.2


# ==============================
# DATA SCIENCE / MACHINE LEARNING
# ==============================

numpy==2.5.2
pandas==3.0.5
scipy==1.18.1
scikit-learn==1.9.0

joblib==1.6.0
cloudpickle==3.1.2

threadpoolctl==3.6.0


# ==============================
# UTILITIES
# ==============================

PyJWT==2.13.0
python-dateutil==2.9.0.post0
six==1.17.0
narwhals==2.25.0

